.main {
  height: 100%;
}
@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('../fonts/YouSheBiaoTiHei-2.ttf');
}
.spreadhead > p {
  display: none;
}
.spreadhead .zh,
.spreadhead .en {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.72rem;
  color: #0172ff;
  display: block;
  line-height: 1;
}
.spreadhead .en ~ .en-t {
  display: block;
  font-size: 0.36rem;
  color: #333333;
  line-height: 1;
  margin-top: 0.3rem;
}
@media screen and (max-width: 576px) {
  .spreadhead .zh,
  .spreadhead .en {
    font-size: 0.3rem;
  }
  .spreadhead .en ~ .en-t {
    font-size: 0.26rem;
    margin-top: 0.12rem;
  }
}
.index_banner {
  width: 100%;
  height: 9rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}
.index_banner .con {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.index_banner .con .btn_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}
.index_banner .con .btn_list button {
  padding: 0rem 0.25rem;
  height: 0.54rem;
  border-radius: 0.27rem;
  font-size: 0.18rem;
  color: #333333;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.15rem 0.2rem 0rem 0;
  cursor: pointer;
}
.index_banner .con .btn_list button:last-of-type {
  margin-right: 0 ;
}
.index_banner .con .btn_list button > img {
  width: 0.24rem;
  margin-right: 0.1rem;
}
.index_banner .con .btn_list .tel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.index_banner .con .btn_list .tel img {
  width: 0.5rem;
  margin-right: 0.1rem;
}
.index_banner .con .btn_list .tel p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.index_banner .con .btn_list .tel p > span {
  font-size: 0.24rem;
  line-height: 1.2;
  color: #ffffff;
}
.index_banner .title {
  font-size: 0.48rem;
  color: #ffffff;
}
.index_banner .title > span {
  display: block;
}
@media screen and (max-width: 576px) {
  .index_banner {
    height: 3.4rem;
    background-size: cover;
  }
  .index_banner .con .btn_list {
    justify-content: center;
    margin-bottom: 0.17rem;
  }
  .index_banner .con .btn_list button {
    padding: 0rem 0.22rem;
    font-size: 0.24rem;
    margin: 0.15rem 0.15rem 0 0;
  }
  .index_banner .con .btn_list button > img {
    width: 0.35rem;
  }
  .index_banner .con .btn_list .tel {
    display: none;
  }
  .index_banner .title {
    font-size: 0.28rem;
    text-align: center;
  }
  .index_banner .title > span {
    display: inline-block;
  }
}
.index_about {
  margin-top: 1rem !important;
}
.index_about > .left_img {
  width: 8.4rem;
  height: 5.9rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
.index_about .desc {
  width: 7.7rem;
  height: 6rem;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.index_about .desc > * {
  margin-bottom: 0.4rem;
}
.index_about .desc .content {
  font-size: 0.14rem;
  color: #666666;
  max-height: 2.2rem;
  overflow: hidden;
}
.index_about .desc .more_btn {
  width: 0.94rem;
  height: 0.11rem;
  cursor: pointer;
  background-image: url(../img/slice/index_more.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 576px) {
  .index_about {
    padding: 0 0.25rem;
    margin-top: 1.7rem !important;
    position: relative;
  }
  .index_about > .left_img {
    width: 100%;
    height: 3.4rem;
    float: none;
  }
  .index_about .desc {
    width: 100%;
    height: auto;
    float: none;
  }
  .index_about .desc > * {
    margin-bottom: 0.15rem;
  }
  .index_about .desc .spreadhead {
    position: absolute;
    top: -1.15rem;
    left: 0.2rem;
  }
  .index_about .desc .content {
    font-size: 0.2rem;
    color: #666666;
    margin-top: 0.2rem;
    max-height: initial;
  }
  .index_about .desc .more_btn {
    margin-top: 0.18rem;
    align-self: center;
    width: 2.06rem;
    height: 0.7rem;
    cursor: pointer;
    background-color: #66cbff;
    background-size: auto;
    background-image: url(../img/slice/index_more_mobile.png);
  }
}
.index_xwdt {
  margin-top: 1rem !important;
  height: 6.7rem;
}
.index_xwdt .tabs {
  float: left;
  width: 4.57rem;
}
.index_xwdt .tabs .spreadhead {
  margin-bottom: 1rem;
}
.index_xwdt .tabs .tabs-item {
  width: 2.85rem;
  height: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  font-size: 0.24rem;
  color: #666666;
  margin-bottom: 0.3rem;
  cursor: pointer;
}
.index_xwdt .tabs .tabs-item.active {
  background-color: #66cbff;
  color: #ffffff;
}
.index_xwdt .tabs .tabs-item:hover {
  opacity: 0.8;
}
.index_xwdt .tabs-body {
  width: 12rem;
  float: right;
  display: flex;
  justify-content: space-between;
  transition: all ease-in-out 0.2s;
}
.index_xwdt .tabs-body .picture {
  width: 4.7rem;
  height: 6.7rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.index_xwdt .tabs-body ul li {
  width: 6.8rem;
  height: 1.68rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f7f7f7;
  transition: all 0.2s ease-in-out;
  padding: 0 0.2rem;
}
.index_xwdt .tabs-body ul li:hover {
  background-color: #f7f7f7;
}
.index_xwdt .tabs-body ul li:hover .date {
  color: #66cbff;
}
.index_xwdt .tabs-body ul li .date {
  text-align: center;
  color: #666666;
}
.index_xwdt .tabs-body ul li .date .day {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.6rem;
  line-height: 1;
}
.index_xwdt .tabs-body ul li .date .m-y {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.18rem;
}
.index_xwdt .tabs-body ul li .desc {
  width: 5rem;
}
.index_xwdt .tabs-body ul li .desc .title {
  font-size: 0.2rem;
  color: #333333;
}
.index_xwdt .tabs-body ul li .desc .content {
  max-height: 0.5rem;
  font-size: 0.14rem;
  color: #666666;
}
@media screen and (max-width: 576px) {
  .index_xwdt {
    padding: 0 0.25rem;
    margin-top: 0.5rem !important;
  }
  .index_xwdt .tabs {
    float: none;
    width: 100%;
    font-size: 0;
  }
  .index_xwdt .tabs .spreadhead {
    margin-bottom: 0.2rem;
  }
  .index_xwdt .tabs .tabs-item {
    width: 50%;
    display: inline-flex;
    margin-bottom: 0rem;
  }
  .index_xwdt .tabs-body {
    width: 100%;
    float: none;
  }
  .index_xwdt .tabs-body .picture {
    display: none;
  }
  .index_xwdt .tabs-body ul li {
    width: 100%;
    height: auto;
    padding: 0.2rem 0;
  }
  .index_xwdt .tabs-body .date .day {
    font-size: 0.4rem !important;
  }
  .index_xwdt .tabs-body .date .m-y {
    font-size: 0.14rem !important;
  }
  .index_xwdt .tabs-body .desc {
    width: calc(100% - 1.2rem) !important;
  }
  .index_xwdt .tabs-body .desc .title {
    font-size: 0.3rem;
    margin-bottom: 0.05rem;
  }
  .index_xwdt .tabs-body .desc .content {
    font-size: 0.2rem;
  }
}
.index_product .top_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.index_product .top_box .menu {
  position: relative;
}
.index_product .top_box .menu ul li {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  line-height: 0.4rem;
  margin-right: 0.2rem;
  font-size: 0.16rem;
  color: #666666;
  background-color: #e6e6e6;
  text-align: center;
}
.index_product .top_box .menu ul li:last-child {
  margin-right: 0.2rem;
}
.index_product .top_box .menu ul li:hover,
.index_product .top_box .menu ul li.active {
  background-color: #66cbff;
  color: #ffffff;
}
.index_product .top_box .menu .more {
  width: 1rem;
  height: 0.3rem;
  font-size: 0.16rem;
  color: #ffffff;
  text-align: center;
  background-color: #0172ff;
  top: -0.8rem;
  right: 0.5rem;
  position: absolute;
}
.index_product .top_box .menu .add {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #66cbff;
  position: relative;
  top: -0.8rem;
  right: 0;
  position: absolute;
}
.index_product .top_box .menu .add::before {
  content: '';
  display: inline-block;
  width: 0.03rem;
  height: 0.16rem;
  background-color: #ffffff;
  position: absolute;
  left: 46%;
  top: 0.12rem;
}
.index_product .top_box .menu .add::after {
  content: '';
  display: inline-block;
  height: 0.03rem;
  width: 0.16rem;
  background-color: #ffffff;
  position: absolute;
  left: 0.12rem;
  top: 46%;
}
.index_product .index_product_list {
  margin-top: 0.8rem;
}
.index_product .index_product_list .item {
  display: none;
}
.index_product .index_product_list .item.active {
  display: block;
}
.index_product .index_product_list .item ul {
  width: 100%;
  font-size: 0px;
}
.index_product .index_product_list .item ul li {
  width: calc((100% - 1.5rem) / 6);
  height: 3.4rem;
  border: 2px solid #e6e6e6;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.3rem 0.3rem 0;
  transition: all 0.2s ease-in-out;
}
.index_product .index_product_list .item ul li:nth-child(6n) {
  margin-right: 0;
}
.index_product .index_product_list .item ul li img {
  max-width: 100%;
  display: block;
}
.index_product .index_product_list .item ul li p {
  width: calc(100% + 4px);
  position: absolute;
  left: -2px;
  bottom: -2px;
  font-size: 0.18rem;
  color: #333333;
  line-height: 0.54rem;
  text-align: center;
}
.index_product .index_product_list .item ul li:hover {
  transform: translateY(-0.3rem);
}
.index_product .index_product_list .item ul li:hover p {
  color: #ffffff;
  background-color: #0172ff;
}
.index_product .index_product_list .page {
  text-align: center;
  font-size: 0px;
  margin-top: 0.6rem;
}
.index_product .index_product_list .page .prev,
.index_product .index_product_list .page .next {
  width: 0.6rem;
  height: 0.4rem;
  background: #e6e6e6 url(../img/slice/icon_next.png) center no-repeat;
  background-size: 0.19rem;
  cursor: pointer;
}
.index_product .index_product_list .page .prev:hover,
.index_product .index_product_list .page .next:hover {
  background-color: #66cbff;
}
.index_product .index_product_list .page .prev {
  transform: rotate(180deg);
}
@media screen and (max-width: 576px) {
  .index_product .top_box {
    margin-top: 0.55rem;
    padding: 0 0.25rem;
  }
  .index_product .top_box .menu {
    display: none;
  }
  .index_product .index_product_list {
    display: none;
  }
}
.index_product_mobile {
  display: none;
}
@media screen and (max-width: 576px) {
  .index_product_mobile {
    padding: 0 0.25rem;
    margin-top: 0.25rem;
    display: block;
  }
  .index_product_mobile .gallery .img {
    background-position: center;
    background-repeat: no-repeat;
    height: 4rem;
    width: 100%;
    border: 1px solid #e6e6e6;
    position: relative;
  }
  .index_product_mobile .gallery .img .title {
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: calc(100% + 2px);
    line-height: 0.7rem;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    background-color: #0172ff;
  }
  .index_product_mobile .thumbs {
    height: 1rem;
    margin-top: 0.2rem;
  }
  .index_product_mobile .thumbs .swiper-slide {
    border: 1px solid #e6e6e6;
  }
  .index_product_mobile .thumbs .swiper-slide.swiper-slide-active {
    border: 1px solid #0172ff;
  }
  .index_product_mobile .thumbs .img {
    background-position: center;
    background-repeat: no-repeat;
    height: 0.9rem;
    width: auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .index_product_mobile .thumbs .img img {
    width: 0.5rem;
  }
  .index_product_mobile .thumbs .img .more {
    font-size: 0.2rem;
    color: #0172ff;
  }
}
.index_scgy {
  margin: 1rem auto !important;
}
.index_scgy .top_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.index_scgy .top_box .menu {
  position: relative;
}
.index_scgy .top_box .menu ul li {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  line-height: 0.4rem;
  margin-right: 0.2rem;
  font-size: 0.16rem;
  color: #666666;
  background-color: #e6e6e6;
  text-align: center;
}
.index_scgy .top_box .menu ul li:last-child {
  margin-right: 0.2rem;
}
.index_scgy .top_box .menu ul li:hover,
.index_scgy .top_box .menu ul li.active {
  background-color: #66cbff;
  color: #ffffff;
}
.index_scgy .top_box .menu .more {
  width: 1rem;
  height: 0.3rem;
  font-size: 0.16rem;
  color: #ffffff;
  text-align: center;
  background-color: #0172ff;
  top: -0.8rem;
  right: 0.5rem;
  position: absolute;
}
.index_scgy .top_box .menu .add {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #66cbff;
  position: relative;
  top: -0.8rem;
  right: 0;
  position: absolute;
}
.index_scgy .top_box .menu .add::before {
  content: '';
  display: inline-block;
  width: 0.03rem;
  height: 0.16rem;
  background-color: #ffffff;
  position: absolute;
  left: 46%;
  top: 0.12rem;
}
.index_scgy .top_box .menu .add::after {
  content: '';
  display: inline-block;
  height: 0.03rem;
  width: 0.16rem;
  background-color: #ffffff;
  position: absolute;
  left: 0.12rem;
  top: 46%;
}
.index_scgy .top_mobile {
  display: none;
}
.index_scgy .index_index_scgy_list {
  margin-top: 0.8rem;
}
.index_scgy .index_index_scgy_list .item {
  display: none;
  width: 100%;
  height: 7rem;
  overflow: hidden;
}
.index_scgy .index_index_scgy_list .item img {
  max-width: 100%;
  display: block;
}
.index_scgy .index_index_scgy_list .item.active {
  display: block;
}
@media screen and (max-width: 576px) {
  .index_scgy {
    position: relative;
    margin-top: 2.3rem !important;
    margin-bottom: 0.55rem !important;
  }
  .index_scgy .top_box {
    display: none;
  }
  .index_scgy .top_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.25rem;
    margin: 0 0.25rem;
    width: calc(100% - 0.5rem);
    background-color: #0172ff;
    height: 2rem;
    position: absolute;
    top: -1.8rem;
    left: 0rem;
  }
  .index_scgy .top_mobile .spreadhead .en,
  .index_scgy .top_mobile .spreadhead .zh,
  .index_scgy .top_mobile .spreadhead .en-t {
    color: #ffffff;
  }
  .index_scgy .top_mobile .menu .title {
    font-size: 0.3rem;
    color: #ffffff;
    text-align: center;
  }
  .index_scgy .top_mobile .menu .page {
    text-align: center;
    font-size: 0px;
    margin-top: 0.4rem;
  }
  .index_scgy .top_mobile .menu .page .prev,
  .index_scgy .top_mobile .menu .page .next {
    width: 0.4rem;
    height: 0.3rem;
    background: url(../img/slice/icon_nextfff.png) center no-repeat;
    background-size: 0.32rem;
    cursor: pointer;
    display: inline-block;
  }
  .index_scgy .top_mobile .menu .page .prev[disabled=disabled],
  .index_scgy .top_mobile .menu .page .next[disabled=disabled] {
    background: url(../img/slice/icon_next96c5ff.png) center no-repeat;
    background-size: 0.32rem;
  }
  .index_scgy .top_mobile .menu .page .prev {
    transform: rotate(180deg);
    border-left: 1px solid #99c7ff;
  }
  .index_scgy .index_index_scgy_list {
    margin-top: 0rem;
  }
  .index_scgy .index_index_scgy_list .item {
    height: 4.8rem;
  }
  .index_scgy .index_index_scgy_list .item img {
    height: 100%;
  }
}
.profile_banner {
  width: 100%;
  height: 3.65rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_banner .en {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.48rem;
  color: #ffffff;
}
.profile_banner .zh {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.36rem;
  color: #ffffff;
}
.profile_banner .slogan {
  font-size: 0.36rem;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .profile_banner .zh,
  .profile_banner .en {
    font-size: 0.42rem;
  }
  .profile_banner .slogan {
    font-size: 0.28rem;
  }
}
.profile_about {
  margin-top: 1rem !important;
}
.profile_about > .left_img {
  width: 8.4rem;
  height: 5.9rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
.profile_about .desc {
  width: 7.7rem;
  height: 6rem;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.profile_about .desc > * {
  margin-bottom: 0.4rem;
}
.profile_about .desc > *:last-child {
  margin-bottom: 0.2rem;
}
.profile_about .desc .content {
  font-size: 0.14rem;
  color: #666666;
  max-height: 2.2rem;
  overflow: hidden;
}
.profile_about .desc .content .key_point {
  font-size: 0.2rem;
  color: #0172ff;
}
@media screen and (max-width: 576px) {
  .profile_about {
    padding: 0 0.25rem;
    margin-top: 0.55rem !important;
    display: flex;
    flex-direction: column-reverse;
  }
  .profile_about > .left_img {
    width: 100%;
    height: 3.4rem;
    float: none;
  }
  .profile_about .desc {
    width: 100%;
    height: auto;
    float: none;
  }
  .profile_about .desc > * {
    margin-bottom: 0.2rem;
  }
  .profile_about .desc .content {
    max-height: initial;
    font-size: 0.2rem;
    color: #666666;
  }
  .profile_about .desc .content .key_point {
    font-size: 0.24rem;
    margin-bottom: 0.05rem;
  }
}
.profile_zc {
  margin-top: 1rem !important;
}
.profile_zc > .right_img {
  width: 8.4rem;
  height: 5.3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}
.profile_zc .desc {
  width: 7.7rem;
  height: 6rem;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile_zc .desc > * {
  margin-bottom: 0.4rem;
}
.profile_zc .desc > *:last-child {
  margin-bottom: 0.2rem;
}
.profile_zc .desc .content {
  font-size: 0.14rem;
  color: #666666;
  max-height: 3.1rem;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .profile_zc {
    padding: 0 0.25rem;
    margin-top: 0.55rem !important;
    display: flex;
    flex-direction: column-reverse;
  }
  .profile_zc > .right_img {
    width: 100%;
    height: 3.4rem;
    float: none;
  }
  .profile_zc .desc {
    width: 100%;
    height: auto;
    float: none;
  }
  .profile_zc .desc > * {
    margin-bottom: 0.2rem;
  }
  .profile_zc .desc .content {
    font-size: 0.2rem;
    color: #666666;
    max-height: initial;
  }
}
.profile_team {
  height: 6.2rem;
}
.profile_team .swiper-slide-next + .swiper-slide + .swiper-slide > .team-item:after {
  content: none;
}
.profile_team .team-item {
  width: inherit;
  /*根据内容调整宽度*/
  padding: 0 1rem;
  text-align: center;
  position: relative;
}
.profile_team .team-item img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}
.profile_team .team-item .name {
  color: #333333;
  font-size: 0.24rem;
}
.profile_team .team-item .post {
  color: #666666;
  font-size: 0.16rem;
  padding-bottom: 0.05rem;
  display: inline-block;
  border-bottom: 1px solid #666666;
}
.profile_team .team-item .obtain {
  color: #666666;
  font-size: 0.14rem;
  word-break: break-word;
  white-space: normal;
  text-align: left;
  margin-top: 0.05rem;
}
.profile_team .team-item::after {
  content: '';
  background: url(../img/slice/icon-team.png) center no-repeat;
  background-size: contain;
  width: 0.66rem;
  height: 0.2rem;
  display: block;
  position: absolute;
  top: 23%;
  right: -0.44rem;
}
@media screen and (max-width: 576px) {
  .profile_team {
    height: auto;
  }
  .profile_team .swiper-slide-next > .team-item:after {
    content: none;
  }
  .profile_team .team-item {
    padding: calc((100% - 2.05rem) / 2);
  }
  .profile_team .team-item img {
    width: 2.05rem;
    height: 2.05rem;
    border-radius: 50%;
  }
  .profile_team .team-item .post {
    font-size: 0.22rem;
    color: #333333;
  }
  .profile_team .team-item .obtain {
    color: #333333;
    font-size: 0.22rem;
    display: block;
  }
}
.profile_ryzz {
  font-size: 0px;
}
.profile_ryzz .left-div {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  float: left;
  overflow: hidden;
}
.profile_ryzz .left-div ul li {
  font-size: 0.16rem;
  color: #666666;
  margin-top: 0.35rem;
  padding-right: 1rem ;
  list-style: initial;
  text-indent: 0.16rem;
}
.profile_ryzz .profile_ryzz_swiper {
  width: calc(100% - 6rem);
  height: 6rem;
  background-color: #80b8ff;
  float: right;
  padding: 0.7rem 0 0 0.5rem;
  font-size: 0px;
}
.profile_ryzz .profile_ryzz_swiper img {
  width: 3rem;
  margin-left: 0.4rem;
  vertical-align: middle;
  float: left;
}
.profile_ryzz .profile_ryzz_swiper img:nth-child(2),
.profile_ryzz .profile_ryzz_swiper img:nth-child(3) {
  margin-bottom: 0.2rem;
}
.profile_ryzz .profile_ryzz_swiper .honor1 {
  float: left;
  margin-left: 0rem;
}
@media screen and (max-width: 576px) {
  .profile_ryzz .left-div {
    float: none;
    width: 100%;
    padding-top: 0.55rem;
    height: auto;
    padding: 0 0.25rem;
    margin-bottom: 0.2rem;
  }
  .profile_ryzz .left-div ul li {
    padding-right: 0rem ;
  }
  .profile_ryzz .profile_ryzz_swiper {
    width: auto;
    float: none;
    background-color: #66cbff;
    padding: 0.5rem 0.2rem 1rem;
  }
  .profile_ryzz .profile_ryzz_swiper .swiper-slide {
    text-align: center;
  }
  .profile_ryzz .profile_ryzz_swiper .swiper-slide:nth-child(1) .honor4,
  .profile_ryzz .profile_ryzz_swiper .swiper-slide:nth-child(1) .honor5 {
    display: none;
  }
  .profile_ryzz .profile_ryzz_swiper img {
    width: 2.75rem;
    height: auto;
    float: left;
    margin-left: 0;
  }
  .profile_ryzz .profile_ryzz_swiper .honor2 {
    margin-bottom: 0.2rem;
    float: right;
  }
  .profile_ryzz .profile_ryzz_swiper .honor3 {
    float: right;
  }
  .profile_ryzz .profile_ryzz_swiper .honor4 {
    width: 5rem;
    float: none;
  }
  .profile_ryzz .profile_ryzz_swiper .honor5 {
    width: 5rem;
    float: none;
  }
}
.product_banner {
  width: 100%;
  height: 3.65rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product_banner .en {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.48rem;
  color: #ffffff;
}
.product_banner .zh {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.36rem;
  color: #ffffff;
}
.product_banner .slogan {
  font-size: 0.36rem;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .product_banner .zh,
  .product_banner .en {
    font-size: 0.42rem;
  }
  .product_banner .slogan {
    font-size: 0.28rem;
  }
}
.product_tabs .product_tabs_item .tab_box {
  display: none;
}
.product_tabs .product_tabs_item ul {
  border-bottom: 2px solid #e6e6e6;
}
.product_tabs .product_tabs_item ul li {
  display: inline-block;
  padding-left: 0.3rem;
  color: #333333;
  line-height: 0.8rem;
  font-size: 0.18rem;
  transition: all linear 0.2s;
}
.product_tabs .product_tabs_item ul li.active {
  color: #66cbff;
}
.product_tabs .product_tabs_item ul li:hover {
  color: #66cbff;
}
@media screen and (max-width: 576px) {
  .product_tabs .product_tabs_item {
    padding: 0 0.25rem;
    position: relative;
  }
  .product_tabs .product_tabs_item .tab_box {
    display: block;
  }
  .product_tabs .product_tabs_item .tab_box .tab_input {
    font-size: 0.22rem;
    color: #0050ff;
    margin: 0.4rem 0 0.2rem;
  }
  .product_tabs .product_tabs_item .tab_box::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 0.15rem 0.08rem;
    border-style: solid ;
    border-color: #66cbff transparent transparent transparent;
    vertical-align: middle;
    margin-top: 0.1rem;
  }
  .product_tabs .product_tabs_item .mark {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .product_tabs .product_tabs_item ul {
    display: none;
    position: absolute;
    top: 0.8rem;
    left: 0.2rem;
    max-width: 80%;
    height: 4rem;
    overflow: auto;
    z-index: 10;
    background-color: #eeeeee;
    padding: 0 0.2rem;
    border-radius: 5px ;
  }
  .product_tabs .product_tabs_item ul li {
    display: block;
    line-height: 0.5rem;
    padding-left: 0rem;
    border-bottom: 1px solid #e6e6e6;
  }
}
.product_tabs .product_tabs_body .search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0.3rem 0;
  height: 0.4rem;
  font-size: 0px;
}
.product_tabs .product_tabs_body .search > input {
  width: 3.35rem;
  height: inherit;
  border: 1px solid #0172ff;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.1rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.product_tabs .product_tabs_body .search > .submit {
  background-color: #0172ff;
  display: inline-block;
  width: 0.96rem;
  height: inherit;
  font-size: 0.16rem;
  border: 1px solid #0172ff;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  line-height: 0.4rem;
  cursor: pointer;
}
.product_tabs .product_tabs_body .item {
  display: none;
}
.product_tabs .product_tabs_body .item.active {
  display: block;
}
.product_tabs .product_tabs_body .item ul {
  width: 100%;
  font-size: 0px;
}
.product_tabs .product_tabs_body .item ul li {
  width: calc((100% - 1.8rem) / 7);
  height: 3.4rem;
  border: 2px solid #e6e6e6;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.3rem 0.3rem 0;
}
.product_tabs .product_tabs_body .item ul li:nth-child(7n) {
  margin-right: 0;
}
.product_tabs .product_tabs_body .item ul li img {
  max-width: 100%;
  display: block;
}
.product_tabs .product_tabs_body .item ul li p {
  width: calc(100% + 4px);
  position: absolute;
  left: -2px;
  bottom: -2px;
  font-size: 0.18rem;
  color: #333333;
  line-height: 0.54rem;
  text-align: center;
  transition: background linear 0.2s;
}
.product_tabs .product_tabs_body .item ul li:hover p {
  color: #ffffff;
  background-color: #0172ff;
}
@media screen and (max-width: 576px) {
  .product_tabs .product_tabs_body {
    padding: 0 0.25rem;
  }
  .product_tabs .product_tabs_body .search {
    margin: 0 0 0.3rem 0;
    height: 0.5rem;
  }
  .product_tabs .product_tabs_body .search > input {
    width: calc(100% - 1rem);
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .product_tabs .product_tabs_body .search > .submit {
    width: 1rem;
    line-height: 0.5rem;
    border: top right radius 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .product_tabs .product_tabs_body .item {
    display: none;
  }
  .product_tabs .product_tabs_body .item.active {
    display: block;
  }
  .product_tabs .product_tabs_body .item ul {
    width: 100%;
    font-size: 0px;
  }
  .product_tabs .product_tabs_body .item ul li {
    width: calc((100% - 0.2rem) / 2);
    height: 2.83rem;
    margin: 0 0.2rem 0.2rem 0;
  }
  .product_tabs .product_tabs_body .item ul li:nth-child(2n) {
    margin-right: 0;
  }
  .product_tabs .product_tabs_body .item ul li p {
    font-size: 0.24rem;
    line-height: 0.5rem;
    color: #ffffff;
    background-color: #0172ff;
  }
}
.service_banner {
  width: 100%;
  height: 3.65rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service_banner .en {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.48rem;
  color: #ffffff;
}
.service_banner .zh {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.36rem;
  color: #ffffff;
}
.service_banner .slogan {
  font-size: 0.36rem;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .service_banner .zh,
  .service_banner .en {
    font-size: 0.42rem;
  }
  .service_banner .slogan {
    font-size: 0.28rem;
  }
}
.service_tabs .service_tabs_item ul {
  border-bottom: 2px solid #e6e6e6;
}
.service_tabs .service_tabs_item ul li {
  display: inline-block;
  padding-left: 0.3rem;
  color: #333333;
  line-height: 0.8rem;
  font-size: 0.18rem;
  transition: all linear 0.2s;
}
.service_tabs .service_tabs_item ul li.active {
  color: #66cbff;
}
.service_tabs .service_tabs_item ul li:hover {
  color: #66cbff;
}
@media screen and (max-width: 576px) {
  .service_tabs .service_tabs_item {
    padding: 0 0.25rem;
  }
  .service_tabs .service_tabs_item ul {
    border-bottom: 1px solid #e6e6e6;
  }
}
.service_tabs .service_tabs_body .search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0.3rem 0;
  height: 0.4rem;
  font-size: 0px;
}
.service_tabs .service_tabs_body .search > input {
  width: 3.35rem;
  height: inherit;
  border: 1px solid #0172ff;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.1rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.service_tabs .service_tabs_body .search > .submit {
  background-color: #0172ff;
  display: inline-block;
  width: 0.96rem;
  height: inherit;
  font-size: 0.16rem;
  border: 1px solid #0172ff;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  line-height: 0.4rem;
  cursor: pointer;
}
.service_tabs .service_tabs_body .item {
  display: none;
  margin-bottom: 0.8rem;
}
.service_tabs .service_tabs_body .item.active {
  display: block;
}
.service_tabs .service_tabs_body .item ul {
  width: 100%;
  font-size: 0px;
}
.service_tabs .service_tabs_body .item ul li {
  width: calc((100% - 0.5rem) / 2);
  height: 0.8rem;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 0.3rem;
  box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.2);
}
.service_tabs .service_tabs_body .item ul li:nth-child(2n) {
  margin-right: 0;
}
.service_tabs .service_tabs_body .item ul li:hover {
  background-color: #0172ff;
}
.service_tabs .service_tabs_body .item ul li:hover .desc .default {
  display: none;
}
.service_tabs .service_tabs_body .item ul li:hover .desc .hover {
  display: block;
}
.service_tabs .service_tabs_body .item ul li:hover .desc p .text,
.service_tabs .service_tabs_body .item ul li:hover .desc p .date {
  color: #ffffff;
}
.service_tabs .service_tabs_body .item ul li:hover button {
  color: #ffffff;
  background-color: #66cbff;
}
.service_tabs .service_tabs_body .item ul li .desc {
  display: flex;
  justify-content: center;
}
.service_tabs .service_tabs_body .item ul li .desc .default {
  display: block;
  width: 0.44rem;
  margin-right: 0.2rem;
}
.service_tabs .service_tabs_body .item ul li .desc .hover {
  display: none;
  width: 0.44rem;
  margin-right: 0.2rem;
}
.service_tabs .service_tabs_body .item ul li .desc p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service_tabs .service_tabs_body .item ul li .desc p .text {
  font-size: 0.2rem;
  color: #333333;
}
.service_tabs .service_tabs_body .item ul li .desc p .date {
  font-size: 0.14rem;
  color: #666666;
}
.service_tabs .service_tabs_body .item ul li button {
  width: 1.3rem;
  height: 0.4rem;
  background-color: #ececec;
  font-size: 0.18rem;
  color: #333333;
}
.service_tabs .service_tabs_body .item .page {
  text-align: center;
  font-size: 0px;
}
.service_tabs .service_tabs_body .item .page .prev,
.service_tabs .service_tabs_body .item .page .next {
  width: 0.6rem;
  height: 0.4rem;
  background: #e6e6e6 url(../img/slice/icon_next.png) center no-repeat;
  background-size: 0.19rem;
  cursor: pointer;
}
.service_tabs .service_tabs_body .item .page .prev:hover,
.service_tabs .service_tabs_body .item .page .next:hover {
  background-color: #66cbff;
}
.service_tabs .service_tabs_body .item .page .prev {
  transform: rotate(180deg);
}
@media screen and (max-width: 576px) {
  .service_tabs .service_tabs_body {
    padding: 0 0.25rem;
  }
  .service_tabs .service_tabs_body .search {
    margin: 0.15rem 0 0.3rem 0;
    height: 0.5rem;
  }
  .service_tabs .service_tabs_body .search > input {
    width: calc(100% - 1rem);
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .service_tabs .service_tabs_body .search > .submit {
    width: 1rem;
    line-height: 0.5rem;
    border: top right radius 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .service_tabs .service_tabs_body .item {
    display: none;
  }
  .service_tabs .service_tabs_body .item.active {
    display: block;
  }
  .service_tabs .service_tabs_body .item ul {
    width: 100%;
    font-size: 0px;
  }
  .service_tabs .service_tabs_body .item ul li {
    width: 100%;
    height: 0.86rem;
    margin-bottom: 0.15rem;
  }
  .service_tabs .service_tabs_body .item ul li:hover {
    background-color: #ffffff !important;
  }
  .service_tabs .service_tabs_body .item ul li:hover p .text,
  .service_tabs .service_tabs_body .item ul li:hover p .date {
    color: #333333 !important;
  }
  .service_tabs .service_tabs_body .item ul li:hover .default {
    display: block !important;
  }
  .service_tabs .service_tabs_body .item ul li:hover .hover {
    display: none !important;
  }
  .service_tabs .service_tabs_body .item ul button {
    background-color: #ffffff !important;
    font-size: 0px !important;
    width: 0.2rem !important;
    height: 0.35rem !important;
    background: url(../img/slice/icon4.png) center no-repeat;
    background-size: contain;
  }
}
.service-detail {
  padding: 0.6rem 0;
}
.service-detail .left {
  width: 5.3rem;
  float: left;
}
.service-detail .left > p {
  font-size: 0.24rem;
  color: #0172ff;
  margin-bottom: 0.15rem;
  font-weight: bold;
}
.service-detail .left ul {
  border: 1px solid #e6e6e6;
  padding: 0 0.2rem;
}
.service-detail .left ul li {
  line-height: 0.54rem;
  font-size: 0.14rem;
  color: #666666;
  border-bottom: 1px solid #e6e6e6;
}
.service-detail .left ul li:hover {
  color: #66cbff;
}
.service-detail .left .page {
  text-align: center;
  font-size: 0px;
  margin-top: 0.4rem;
}
.service-detail .left .page .prev,
.service-detail .left .page .next {
  width: 0.6rem;
  height: 0.4rem;
  background: #e6e6e6 url(../img/slice/icon_next.png) center no-repeat;
  background-size: 0.19rem;
  cursor: pointer;
}
.service-detail .left .page .prev:hover,
.service-detail .left .page .next:hover {
  background-color: #66cbff;
}
.service-detail .left .page .prev {
  transform: rotate(180deg);
}
.service-detail .left .page .goback {
  display: none;
  width: 2rem;
  height: 0.7rem;
  background-color: #66cbff;
  color: #ffffff;
  font-size: 0.24rem;
}
.service-detail .right {
  float: right;
  width: 11.18rem;
}
.service-detail .right .item {
  display: none;
}
.service-detail .right .item.active {
  display: block;
}
.service-detail .right .item .subject-heading {
  font-size: 0.3rem;
  color: #333333;
  text-align: center;
  line-height: 2;
  font-weight: bold;
}
.service-detail .right .item .subheading {
  font-size: 0.14rem;
  color: #666666;
  text-align: center;
}
.service-detail .right .item .content {
  margin-top: 0.3rem;
  font-size: 0.18rem;
  color: #666666;
}
.service-detail .right .item .content img {
  max-width: 100%;
}
@media screen and (max-width: 576px) {
  .service-detail {
    padding: 0 0.25rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .service-detail .left {
    float: none;
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 0 0.2rem;
  }
  .service-detail .left > p {
    margin-top: 0.15rem;
    margin-bottom: 0rem;
    font-weight: normal;
  }
  .service-detail .left ul {
    border: none;
    padding: 0;
  }
  .service-detail .left ul li {
    line-height: 0.54rem;
    font-size: 0.2rem;
    color: #333333;
  }
  .service-detail .left .prev,
  .service-detail .left .next {
    display: none;
  }
  .service-detail .left .goback {
    display: inline-block !important;
    margin-bottom: 0.4rem;
  }
  .service-detail .right {
    float: none;
    width: 100%;
    margin-top: 0.3rem;
  }
  .service-detail .right .subheading {
    font-size: 0.2rem !important;
    margin-top: 0.05rem;
  }
  .service-detail .right .content {
    font-size: 0.22rem !important;
  }
}
.technique_banner {
  width: 100%;
  height: 3.65rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.technique_banner .en {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.48rem;
  color: #ffffff;
}
.technique_banner .zh {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.36rem;
  color: #ffffff;
}
.technique_banner .slogan {
  font-size: 0.36rem;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .technique_banner .zh,
  .technique_banner .en {
    font-size: 0.42rem;
  }
  .technique_banner .slogan {
    font-size: 0.28rem;
  }
}
.technique_play_video {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem !important;
}
.technique_play_video video {
  width: 14rem;
  height: 6rem;
  background-color: #f7f7f7;
}
.technique_play_video .info {
  width: calc(100% - 14rem);
  height: 6rem;
  background-color: #0172ff;
  text-align: center;
}
.technique_play_video .info .text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1.4rem;
}
.technique_play_video .info .text .zh {
  font-size: 0.48rem;
  color: #ffffff;
  width: 0.6rem;
  line-height: 1;
  margin-right: 0.2rem;
}
.technique_play_video .info .text .en {
  font-size: 0.3rem;
  color: #ffffff;
  width: 0.3rem;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: bt-rl;
  writing-mode: vertical-rl;
  text-align: center;
  word-wrap: break-word;
}
.technique_play_video .info button {
  width: 1.3rem;
  height: 0.4rem;
  background-color: #66cbff;
  font-size: 0.18rem;
  color: #ffffff;
  vertical-align: middle;
  margin-top: 0.6rem;
  cursor: pointer;
}
.technique_play_video .info button img {
  width: 0.28rem;
  margin-right: 0.1rem;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.05rem;
}
@media screen and (max-width: 576px) {
  .technique_play_video {
    position: relative;
    margin-bottom: 1rem;
  }
  .technique_play_video video {
    width: 100%;
    height: 8.5rem;
  }
  .technique_play_video .info .zh {
    display: inline-block;
    width: calc(100% - 0.5rem) !important;
    background-color: #0172ff;
    font-family: 'YouSheBiaoTiHei';
    position: absolute;
    left: 0.25rem;
    top: -0.35rem;
    text-align: center;
  }
  .technique_play_video .info .en {
    display: none;
  }
  .technique_play_video .info button {
    position: absolute;
    width: 2.9rem !important;
    height: 0.5rem !important;
    background-color: #0172ff;
    border-radius: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.7rem;
    text-align: center;
  }
}
.technique_video_list ul {
  margin-top: 0.4rem;
}
.technique_video_list ul li {
  display: inline-block;
  vertical-align: middle;
  width: calc((100% - 1.5rem) / 6);
  margin-right: 0.3rem;
  position: relative;
}
.technique_video_list ul li:hover .name,
.technique_video_list ul li.active .name {
  color: #66cbff;
}
.technique_video_list ul li:nth-child(6n) {
  margin-right: 0;
}
.technique_video_list ul li .img {
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
  border-radius: 0.07rem;
}
.technique_video_list ul li .img img {
  max-width: 100%;
  height: 100%;
}
.technique_video_list ul li .state {
  position: absolute;
  font-size: 0.14rem;
  color: #ffffff;
  top: 1.15rem;
  left: 0.1rem;
}
.technique_video_list ul li .name {
  font-size: 0.18rem;
  color: #333333;
  line-height: 0.58rem;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .technique_video_list {
    padding: 0 0.25rem;
  }
  .technique_video_list ul li {
    width: calc((100% - 0.4rem) / 3);
    margin-right: 0.2rem;
  }
  .technique_video_list ul li:nth-child(3n) {
    margin-right: 0;
  }
  .technique_video_list ul li .img {
    height: 1.38rem;
  }
  .technique_video_list ul li .state {
    top: 1.05rem;
  }
}
.flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (min-width: 576px) {
  html {
    font-size: 5.20833333vw !important;
  }
  .container {
    max-width: calc(100% - 2.1rem);
    margin: 0 auto;
  }
}
