.main {
  height: 100%;
}
@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('../fonts/YouSheBiaoTiHei-2.ttf');
}
.spreadhead > p {
  display: none;
}
.spreadhead .zh,
.spreadhead .en {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.72rem;
  color: #0172ff;
  display: block;
  line-height: 1;
}
.spreadhead .en ~ .en-t {
  display: block;
  font-size: 0.36rem;
  color: #333333;
  line-height: 1;
  margin-top: 0.4rem;
}
@media screen and (max-width: 576px) {
  .spreadhead .zh,
  .spreadhead .en {
    font-size: 0.3rem;
  }
  .spreadhead .en ~ .en-t {
    font-size: 0.3rem;
    margin-top: 0.12rem;
  }
}
.index_banner {
  width: 100%;
  height: 9rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}
.index_banner .con {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.index_banner .con .btn_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}
.index_banner .con .btn_list button {
  padding: 0rem 0.25rem;
  height: 0.54rem;
  border-radius: 0.27rem;
  font-size: 0.18rem;
  color: #333333;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.15rem 0.2rem 0rem 0;
  cursor: pointer;
}
.index_banner .con .btn_list button:last-of-type {
  margin-right: 0 ;
}
.index_banner .con .btn_list button > img {
  width: 0.24rem;
  margin-right: 0.1rem;
}
.index_banner .con .btn_list .tel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.index_banner .con .btn_list .tel img {
  width: 0.5rem;
  margin-right: 0.1rem;
}
.index_banner .con .btn_list .tel p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.index_banner .con .btn_list .tel p > span {
  font-size: 0.24rem;
  line-height: 1.2;
  color: #ffffff;
}
.index_banner .title {
  font-size: 0.48rem;
  color: #ffffff;
}
.index_banner .title > span {
  display: block;
}
@media screen and (max-width: 576px) {
  .index_banner {
    height: 3.4rem;
    background-size: cover;
  }
  .index_banner .con .btn_list {
    justify-content: center;
    margin-bottom: 0.17rem;
  }
  .index_banner .con .btn_list button {
    padding: 0rem 0.22rem;
    font-size: 0.24rem;
    margin: 0.15rem 0.15rem 0 0;
  }
  .index_banner .con .btn_list button > img {
    width: 0.35rem;
  }
  .index_banner .con .btn_list .tel {
    display: none;
  }
  .index_banner .title {
    font-size: 0.28rem;
    text-align: center;
  }
  .index_banner .title > span {
    display: inline-block;
  }
}
.index_about {
  margin-top: 1rem !important;
}
.index_about > .left_img {
  width: 8.4rem;
  height: 5.9rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
.index_about .desc {
  width: 7.7rem;
  height: 6rem;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.index_about .desc > * {
  margin-bottom: 0.4rem;
}
.index_about .desc .content {
  font-size: 0.14rem;
  color: #666666;
  max-height: 2.2rem;
  overflow: hidden;
}
.index_about .desc .more_btn {
  width: 0.94rem;
  height: 0.11rem;
  cursor: pointer;
  background-image: url(../img/slice/index_more.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 576px) {
  .index_about {
    padding: 0 0.25rem;
    margin-top: 1.9rem !important;
    position: relative;
  }
  .index_about > .left_img {
    width: 100%;
    height: 3.4rem;
    float: none;
  }
  .index_about .desc {
    width: 100%;
    height: auto;
    float: none;
  }
  .index_about .desc .spreadhead {
    position: absolute;
    top: -1.3rem;
    left: 0.2rem;
  }
  .index_about .desc .spreadhead .zh {
    width: 1.32rem;
  }
  .index_about .desc .spreadhead .en {
    width: 2.22rem;
  }
  .index_about .desc .spreadhead .en ~ .en-t {
    font-size: 0.3rem;
    margin-top: 0.13rem;
  }
  .index_about .desc .content {
    font-size: 0.2rem;
    color: #666666;
    -webkit-line-clamp: 7;
    max-height: 2.1rem;
    overflow: hidden;
    margin-top: 0.2rem;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  .index_about .desc .more_btn {
    align-self: center;
    width: 2.06rem;
    height: 0.7rem;
    cursor: pointer;
    background-color: #66cbff;
    background-size: auto;
    background-image: url(../img/slice/index_more_mobile.png);
  }
}
.index_xwdt {
  margin-top: 1rem !important;
}
.index_xwdt .tabs {
  float: left;
  width: 4.57rem;
}
.index_xwdt .tabs .spreadhead {
  margin-bottom: 1rem;
}
.index_xwdt .tabs .tabs-item {
  width: 2.85rem;
  height: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  font-size: 0.24rem;
  color: #666666;
  margin-bottom: 0.3rem;
}
.index_xwdt .tabs .tabs-item.active {
  background-color: #66cbff;
  color: #ffffff;
}
.index_xwdt .tabs-body {
  width: 12rem;
  float: right;
  display: flex;
  justify-content: space-between;
}
.index_xwdt .tabs-body .picture {
  width: 4.7rem;
  height: 6.7rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.index_xwdt .tabs-body ul li {
  width: 6.8rem;
  height: 1.68rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f7f7f7;
  transition: all 0.2s ease-in-out;
  padding: 0 0.2rem;
}
.index_xwdt .tabs-body ul li:hover {
  background-color: #f7f7f7;
}
.index_xwdt .tabs-body ul li:hover .date {
  color: #66cbff;
}
.index_xwdt .tabs-body ul li .date {
  text-align: center;
  color: #666666;
}
.index_xwdt .tabs-body ul li .date .day {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.6rem;
  line-height: 1;
}
.index_xwdt .tabs-body ul li .date .m-y {
  font-family: 'YouSheBiaoTiHei';
  font-size: 0.18rem;
}
.index_xwdt .tabs-body ul li .desc {
  width: 5rem;
}
.index_xwdt .tabs-body ul li .desc .title {
  font-size: 0.2rem;
  color: #333333;
}
.index_xwdt .tabs-body ul li .desc .content {
  max-height: 0.5rem;
  font-size: 0.14rem;
  color: #666666;
}
@media screen and (max-width: 576px) {
  .index_xwdt {
    padding: 0 0.25rem;
    margin-top: 0.5rem !important;
  }
  .index_xwdt .tabs {
    float: none;
    width: 100%;
    font-size: 0;
  }
  .index_xwdt .tabs .spreadhead {
    margin-bottom: 0.2rem;
  }
  .index_xwdt .tabs .tabs-item {
    width: 50%;
    display: inline-flex;
    margin-bottom: 0rem;
  }
  .index_xwdt .tabs-body {
    width: 100%;
    float: none;
  }
  .index_xwdt .tabs-body .picture {
    display: none;
  }
  .index_xwdt .tabs-body ul li {
    width: 100%;
    height: auto;
    padding: 0.2rem 0;
  }
  .index_xwdt .tabs-body .date .day {
    font-size: 0.4rem !important;
  }
  .index_xwdt .tabs-body .date .m-y {
    font-size: 0.14rem !important;
  }
  .index_xwdt .tabs-body .desc {
    width: calc(100% - 1.2rem) !important;
  }
  .index_xwdt .tabs-body .desc .title {
    font-size: 0.3rem;
    margin-bottom: 0.05rem;
  }
  .index_xwdt .tabs-body .desc .content {
    font-size: 0.2rem;
  }
}
.swiper-slide {
  width: 300px;
  /*设为固定值*/
  width: auto;
  /*根据内容调整宽度*/
  background-color: #66cbff;
  border: 1px solid #333333;
}
.flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (min-width: 576px) {
  html {
    font-size: 5.20833333vw !important;
  }
  .container {
    max-width: calc(100% - 2.1rem);
    margin: 0 auto;
  }
}
